<h1>Search Crypto</h1>
<form action="/search" method="post">
    <label for="symbol">Symbol:</label>
    <input type="text" id="symbol" name="symbol">
    <button type="submit">Search</button>
</form>
